button {
  margin-top: 10px;
  padding: 15px 28px;
  border-radius: 50px;
  border: none;
  background-color: rgb(110, 41, 110);
  color: white;
  font-variant: small-caps;
  font-size: 25px;
  transition: 0.5s;
}

button:hover {
  filter: brightness(0.7);
}
