.playersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
}

.playerCard {
  display: flex;
  align-items: center;
  background-color: rgb(75, 124, 29);
  margin: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  border: 3px solid black;
}

.playerCard h2 {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 40px;
}
