.playersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 212, 201);
}

.computerCard {
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: orangered;
  border: 3px solid black;
}

.computerCard h2 {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 40px;
}

.playersName {
  font-size: 38px;
}

.players {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  /* border: 3px solid white; */
}

.icons {
  max-width: 130px;
}
