.App {
  text-align: center;
  min-height: calc(100vh - 70px);
}

header {
  background-color: rgb(110, 41, 110);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: rgb(208, 233, 255);
}

footer {
  margin-top: auto;
  background-color: rgb(110, 41, 110);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(208, 233, 255);
}
